/* grid */
.eol_grid {
display:grid;
}

.eol_full {
	  grid-template-columns: 100%;
}

.eol_half {
	  grid-template-columns: 100%;
}

.eol_one_third {
	  grid-template-columns: 100%;
}

.eol_two_thirds {
	  grid-template-columns: 100%;
}

.eol_one_quarter {
	  grid-template-columns: 100%;
}

.eol_three_quarters {
	  grid-template-columns: 100%;
}