nav a {
	text-decoration: none;
}


/* nav#primary */

nav#primary {
	position: relative;
	transition: transform 0.3s;
	will-change: transform;
	width: 100%;
	> ul {
		@media screen and (max-width: 1000px) {
			position: fixed;
			width: 100%;
		   transform: translateX(100vw);
			flex-direction: column;
			font-size:1.4em;
			.submenu {
				margin-bottom: 1em;
				margin-left: 1em;
				border-left: 2px solid #000;
			}
		}
	}
	ul {
		background: #fff;
		display: flex;
		list-style: none;
		margin: 0;
		padding: 0;
		justify-content: center;
		text-align: left;
		z-index: 1;
		li {
			position: relative;
			.submenu {
				flex-direction: column;
			}
			&:hover {
				.submenu {
					left: -60px;
				}
			}
		}
		a {
			display: block;
			padding: 0.5em 1em;
		}
	}
	@media screen and (min-width: 1000px) {
		.submenu {
			position: absolute;
			left: -9999em;
			width: 200px;
			background: #fff;
		}
	}
}


#menutoggle, #scroll {
	display: none;
	cursor: pointer;
}

#menutoggle {
	position: absolute;
	right: 1em;
	top: 1em;

	@media screen and (max-width: 1000px) {
		display: block;
	}
}

#scroll {
	position: fixed;
	right: 1em;
	top: 40vh;
} 