@import url("https://use.typekit.net/mtl1wvn.css");

.icon {
		font-size: 10px;
}

.icon:before {
		content: ' ';
		vertical-align: middle;
		display: inline-block;
		background-image: url("/images/sprite.svg");
		background-repeat: no-repeat;
		background-size: 1.6em 4.8em;
}

.icon.arrow_up:before {
		background-position: 0em 0em;
		width: 1.6em;
		height: 1.6em;
}

.icon.close:before {
		background-position: 0em -1.6em;
		width: 1.6em;
		height: 1.6em;
}


	.icon.arrow_up:before {
			background-position: 0em 0em;
			width: 1.6em;
			height: 1.6em;
	}




	.icon.close:before {
			background-position: 0em -1.6em;
			width: 1.6em;
			height: 1.6em;
	}




	.icon.menu_lines:before {
			background-position: 0em -3.2em;
			width: 1.6em;
			height: 1.6em;
	}


.icon.menu_lines:before {
		background-position: 0em -3.2em;
		width: 1.6em;
		height: 1.6em;
}